* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none !important;
}

ul{
  list-style-type: none;
}

li{
  list-style-type: none;
}

html {
  height: 100%;
  font-size: $scale;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}

.split-menu {
  position: relative;
  background-color: var(--surface-ground);
  height: 100%;
}

.source-commentaire {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--surface-ground);
  overflow: hidden;
  overflow-y: auto;
  color: var(--text-color);
  display:flex; 
  flex-direction: column; 
  justify-content:space-between;
  height: 100%;
}



.titre-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

/*ooooooooooooooooooooooooo*/

/*Splitter primevue*/


.p-splitter {
    height: 86vh;
    border: none;
    background-color: var(--surface-ground);

}

.p-splitter-panel{
    display: flex;
 flex-direction: column;
justify-content: space-between;
 height: 86vh;
 padding: 1rem;
  }

.p-splitter h1{
 
    color: var(--surface-ground);
    background-color: var(--text-color);
    margin: -0.5rem;
    padding: 0.5rem;
}

.p-splitter-gutter {
  width: 6px;
}

.p-splitter-gutter-handle {
  width: 6px;
}



/*ooooooooooooooooooooooooo*/

/*ScrollPanel primevue*/

.p-scrollpanel{
    background-color: white;
    height: 100%;
   // padding: 1rem;

}

.p-scrollpanel .p-scrollpanel-bar {
  background: var(--text-color);
  border: 0 none;

}

/*ooooooooooooooooooooooooo*/

/*Tabs primevue*/

.p-tabview {
  background-color: var(--surface-ground);
}

.p-tabview .p-tabview-panels {
  background-color: var(--surface-ground);
}


/* not selected */
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background-color: var(--surface-ground);
}
/* hover */
.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background-color: var(--surface-ground);
}
/* selected */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: var(--surface-ground);
}

