Button {
  /* background-color: #0288d1; */
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.25rem 0.4rem;
  border-radius: 3px;
}
.nav-component {
  height: calc(100vh - 5rem);
  padding: 1em;
  // min-width: 350px;
  width: 350px;
}
.p-button {
  margin-right: 0.5rem;
}

.nav-component .p-datable{
    max-width: 350px;
    flex-wrap: wrap;
    overflow: hidden;
}

.layout-topbar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--text-color-secondary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: var(--text-color);
    background-color: var(--surface-hover);
  }

  i {
    font-size: 1.5rem;
  }

  span {
    font-size: 1rem;
    display: none;
  }
}

.slayout-navbar {
  transform: translateX(-100%);
  transition-duration: 200ms;
}
.slayin-navbar {
  transform: translateX(0%);
  transition-duration: 200ms;
}


.nav-title{
    display: flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    font-weight: 600;
    font-size:x-large;

}

.nav-title i{
    font-size: 1.5rem;
}
